{% extends "baseowner.html" %}
{% block title %}Orders{% endblock %}
{% block content %}<h1>Orders</h1>

<form method="post" action="#">
	{% csrf_token %}
	<table border="1">
		<tr><th>Sl no.</th><th>Name</th><th>Price</th><th>Completed</th></tr>
	{% for pdf in p.ownerorder_set.all %}
		<tr><td>{{pdf.Slno}}</td><td>{{pdf.name}}</td><td>{{pdf.price}}</td>
			<td>
			{% if pdf.completed == True %}
				<input type = "checkbox", value="completed", name="c{{pdf.id}}" checked>
			{% else %}
				<input type = "checkbox", value="completed", name="c{{pdf.id}}">
			{% endif %}

			</td></tr>

	{% endfor %}
	</table>

  <br>

	<button type="submit", value="save", name="save">Save</button>
	<button type="submit", value="delete", name="delete">Delete</button>

</form>
{% endblock %}